<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f8bb1">  <td>16/08/03 13:15:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTest.beforeTest()[pri:0, instance:whapp.FirstTest@91161c7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>16/08/03 13:15:19</td>   <td>18</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTest.afterTest()[pri:0, instance:whapp.FirstTest@91161c7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
</table>
